html {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: Manrope;
}

.container {
    padding-top: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 700px;
    margin: 0 auto;
}

.reset-btn {
    background-color: gray;
    cursor: default;
    transition: all linear 0.2s;
}

.active {
    background: #D45366;
    cursor: pointer;
}

button {
    font-family: inherit;
    width: 500px;
    height: 100px;
    border-radius: 20px;
    background: #4191FF;
    border: none;
    cursor: pointer;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}

.count {
    width: 500px;
    text-align: center;
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}